*{
    margin: 2%;
    /* border: 1px solid blue; */
}

#topBar{
    background-color: #353535;
}

#topBar h1{
    margin-left: 50%;
    font-size: 6vw;
    color: #d4e09b;
    padding: 5px 0;
}

#middleBar{
    background-color: #ffff;
    margin-left: 62%;
    font-size: 5vw;
}

#underline{
    border-bottom: 2px dotted black;
}


#mainSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px;
}


.boxArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    border: 2px solid black;
    background-color: #52796f;
    border-radius: 10px;
}


.cardPhoto{
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    height: 90%;
    border: 10px solid #415a77;
    border-radius: 20px;
}


.lowerBox{
    font-size: 4vw;
    border: none;
    border-radius: 20px;
    background-color:#415a77;
    padding: 10px;
    
}